<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
          
            <input type="text" class="iname" required>
            <label for="" id="name" class="name">Nome</label>

            <input type="password" class="isenha" required>
            <label for="" class="senha">Senha</label>
            <button type="submit">Login</button>
        </form>
      </div>
</body>
</html>