<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="containercadastrar">
        <div class="header"><h1>Cadastrar</h1></div>
        <form id="cadastrar">
            <input type="text" placeholder="Nome:" required>
            <input type="password" placeholder="Senha:" required>
            <input type="password" placeholder="Senha de acesso:" required>
            <div class="bt-cadastrar">
                <button id="cd-gerent">Cadastrar Gerente</button>
                <button id="cd-fc">Cadastrar Funcionario</button>
                <button id="cd-dn">Cadastrar Dono</button>
            </div>
        </form>
        <nav>
            <a href="/">voltar</a>
        </nav>
    </div>
</body>
</html>