<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div id="nm-produto"><h1>Nome do produto</h1></div>
    </header>
    
    <main>
        <div class="cx-1">
            <div class="cx-baras"><input type="text" id="codigo-br"></div>
            <div class="cx-quantidade">
                <input type="text" id="quantidade">
            </div>
            <div class="cx-acrescimo">
                <input type="radio" id="acresimo">
            </div>
            <div class="cx-desconto">
                <input type="radio" id="desconto">
            </div>
        </div>
        <div class="cx-2">
            <div class="produtos"></div>
            <div class="cxs">
                <input type="text" id="ms-cd">
                <input type="text" id="ms-qtd">
                <input type="text" id="ms-valor">
                <input type="text" id="ms-acrs">
            </div>
            <div></div>
        </div>
    </main>
</body>
</html>