@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3C4F66;
}
.header{
    display: flex;
    margin-bottom: -20px;
    color: #BFEDEF;
    align-items: center;
    padding: 20px;
}
.header a{
    margin-left: 100px;
}
.container{
    background-color: #6382A8;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(255, 255, 255, 0.281);
}

form{
    position: relative;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
}

input[type="text"], input[type="password"]{
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 9px 0px 9px 0px;
    outline: none;
    width: 100%;
}
.button,.btn{
    background-color: #BFEDEF;
    color: black;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0px 8px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    padding: 15px;
}

.button:hover{
    background-color: red;
    color: white;
}
nav{
    margin-bottom: 20px;
}
nav > a{
    color: #BFEDEF;
    text-decoration: none;
    font-size: 20px;

}
a:hover{
    color: white;
}
.bt-cadastrar > .button{
    background-color: #BFEDEF;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    color: black;
    cursor: pointer;

}
.container-cad{
    width: 350px;
    height: 450px;
    background: #6382A8;
}
#logar{
    display: flex;
    flex-direction: column;
}
.INFOUSER {
    position: absolute;
    bottom: 0;
    font-size: 40pt;
}
