<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/cad.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="header"><h1>Cadastro</h1></div>
        <form id="logar" action="/login" method="post">
           <a href="/cadastrar/gerente" class="btn">Gerente</a>
           <a href="/cadastrar/funcionario" class="btn">Funcionario</a>
        </form>
        <nav>
            <a href="/">Voltar</a>
        </nav>
    </div>
</body>
</html>