<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="container">
        <div class="header"><h1>Cadastro Funcionario</h1></div>
        <form id="logar" action="/cadastrar/fadd" method="post">
            <input type="text" name="cnome" placeholder="Nome">
            <input type="password" name="csenha" placeholder="Senha">
           <button type="submit" class="btn">Cadastrar</button>
        </form>
        <nav>
            <a href="/">Voltar</a>
        </nav>
    </div>
</body>
</html>