<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
          
            <input type="text" class="iname">
            <label for="" class="name">Nome</label>

            <input type="password" class="isenha">
            <label for="" class="senha">Senha</label>

            <input type="password" class="isenha" id="senha-de-acesso">
            <label for="" class="senha"> acesso</label>

            <button type="submit">Cadastrar Gerente</button>
            <button type="submit">Cadastrar Dono</button>
            <button type="submit">Cadastrar Funccionario</button>
            <nav>
                <a href="login.html">Logar</a>
            </nav>
        </form>
      </div>
      
</body>
</html>